{{!-- {{#each allReviews}}

{{typeOfExperience}}
{{placeName}}

{{headline}}
{{reviewText}}
{{price}}
{{city}}
{{contry}}
{{rating}}
{{picture}}
{{/each}} --}}
{{#each allReviews}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{picture}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{headline}}</h5>
    <p class="card-text">Type of Review: {{typeOfExperience}}</p>
    <p class="card-text">City: {{city}}, Country{{contry}}</p>
    <p class="card-text">Rating (1 - 5): {{rating}}</p>
    <a href="/review/{{id}}" class="btn btn-primary">Details</a>
  </div>
</div>
{{/each}}